<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" >

  <targets>
    <target  name="logfile" xsi:type="File" fileName="C:\LOG\SendScriptsToKiosk.log"/>
    <target name="console" xsi:type="Console" />
    <target name ="mail" xsi:type="Mail"
                  from="no-reply@forpay.net"
                  smtpAuthentication="Basic"
                  smtpUsername="no-reply@forpay.net"
                  smtpPassword=""
                  smtpServer="192.168.254.10"
                  smtpPort="25"
                  to="larisakhor@yandex.ru"
                  subject="Portal Fatal Error Message"
                  layout="${longdate} ${message}"
            />

  </targets>

  <rules>
    <logger name="*"  minlevel="Error"  writeTo="mail"></logger>
    <logger name="*"  writeTo="logfile" />
    <logger name="*"  writeTo="console" />
  </rules>
</nlog>
