# Public IP of the media server
PUBLIC_IP=87.242.100.34

# Inbound mTLS stream port on host
L4MEDIA_PORT=8443

# Host path to client certificate validation CA
CA_CERT_PATH=/home/user1/iot-rpc-rest-app/crt/iot_leo4_ca.crt
