<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\SysQiwiWallet.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="100MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d - %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="EtranConfig" value="http://buslog/EtranConfig/"/>
    <add key="DBConnNamePayments" value="Payments"/>
    <add key="PaymentUrl" value="https://www.mobw.ru/term2/xmlutf.jsp"/>
    <add key="StatusWait" value="10000"/>
    <!-- для указанного ТСП уменьшаем amount (в сотых процента) -->
    <add key="TspAmountFix" value="100 0.005;101 0.005"/>
    <add key="tsp_633" value="777"/>
    <add key="tsp_100" value="1"/>
    <add key="tsp_101" value="2"/>
    <add key="tsp_122" value="3"/>
    <add key="tsp_136" value="354"/>
    <add key="tsp_123" value="34"/>
    <add key="tsp_129" value="35"/>
    <add key="tsp_127" value="26"/>
    <add key="tsp_134" value="29"/>
    <add key="tsp_488" value="99"/>
    <add key="tsp_133" value="42"/>
    <add key="tsp_141" value="939"/>
    <add key="tsp_146" value="940"/>
    <add key="tsp_23" value="32"/>
    <add key="tsp_85" value="743"/>
    <add key="tsp_87" value="746"/>
    <add key="tsp_89" value="744"/>
    <add key="tsp_90" value="741"/>
    <add key="tsp_144" value="745"/>
    <add key="tsp_420" value="700"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Значение параметра compilation debug="true" означает, 
            что в компилированную страницу будут вставлены отладочные символы. Так как этот 
            параметр влияет на производительность, 
            следует устанавливать в нем значение True только на этапе разработки.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
    <authentication mode="Windows"/>
    <!--
            Раздел <customErrors> позволяет настраивать 
            параметры действий на случай возникновения необработанных ошибок 
            во время выполнения запроса. А именно, 
            он позволяет разработчикам настраивать HTML-страницы 
            с сообщениями об ошибках, которые будут отображаться вместо трассировки стека ошибок. 

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>