**
!shared/
!shared/**
!MenuBuilder/
!MenuBuilder/backend/
!MenuBuilder/backend/**
!ProcessingBackend/
!ProcessingBackend/backend/
!ProcessingBackend/backend/**
**/.env*
**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/tests
**/keys
**/*.pem
**/*.key
**/*.pfx
**/*.p12
**/*.log
**/*.pyc
**/uv.lock