<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<log4net debug="false">
		<appender name="Monitor" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Log\XML_SES.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="1"/>
			<maximumFileSize value="50MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d - %m%n"/>
			</layout>
		</appender>
		<logger name="Monitor">
			<level value="INFO"/>
			<appender-ref ref="Monitor"/>
		</logger>
	</log4net>
	<appSettings>
		<add key="EtranConfig" value="http://srv02.processing.local/EtranConfig/"/>
		<add key="DBConnName" value="Organizations"/>
	</appSettings>
	<system.web>
		<!-- 
            Значение параметра compilation debug="true" означает, что в откомпилированную 
            страницу будут вставлены отладочные символы. Так как этот 
            параметр влияет на производительность, следует задавать для него 
            значение True только на этапе разработки.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
		<authentication mode="Windows"/>
		<!--
            Раздел <customErrors> служит для настройки действий, 
            выполняемых при возникновении необрабатываемой 
            ошибки во время выполнения запроса. В частности, 
            разработчик может задать html-страницы ошибок 
            для отображения вместо трассировки ошибки в стеке.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
