<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target  name="logfileErrors" xsi:type="File" fileName="${basedir}/SertErrors.log"/>
    <target  name="logfileDebug" xsi:type="File" fileName="${basedir}/SertDebug.log"/>

    <target name ="mail" xsi:type="Mail"
            from="no-reply@forpay.net"
            smtpAuthentication="Basic"
            smtpUsername="no-reply@forpay.net"
            smtpPassword=""
            smtpServer="192.168.254.10"
            smtpPort="25"
            to="larisakhor@yandex.ru"
            subject="Portal Fatal Error Message"
            layout="${longdate} ${message}"
            />
  </targets>

  <rules>
    <!--<logger name="*"  minlevel="Fatal"  writeTo="mail"></logger>-->
    <logger name="*" minlevel="Error"  writeTo="logfileErrors" />
    <!--<logger name="*"  writeTo="logfileDebug" />-->

  </rules>
</nlog>
