<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net debug="false">
    <appender name="Monitor" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\GateRyazanZhKHNew.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d - %m%n" />
      </layout>
    </appender>
    <logger name="Monitor">
      <level value="INFO" />
      <appender-ref ref="Monitor" />
    </logger>
  </log4net>
  <appSettings>
    <add key="EtranConfig" value="http://db.corepay.local/EtranConfig/" />
    <add key="DBConnName" value="Organizations" />
    <add key="DbSpName" value="RyazanZhKH_PutPayment2" />
    
    <add key="ReestrDst" value="\\172.17.101.08\ryazan\" />
    <add key="DBsrc" value="\\srv02\ryazan_zhkh\" />
    <add key="Region" value="1" />
    <add key="BankCode" value="17" />
    <add key="OrgOperCodes" value="316=80" />
    <add key="OperCodes" value="1186=86;1185=87;1100=93;1101=92;1102=91;1104=90;17=89;8=88;9900=311;9906=311;9907=311;9999=211;9011=911;9000=911;9901=311;410=95;1103=94;9921=13;1187=87;1188=86;1189=85;1190=84;9911=13;9934=13" />
  </appSettings>
  <system.web>
    <!-- 
            Значение параметра compilation debug="true" означает, что в откомпилированную 
            страницу будут вставлены отладочные символы. Так как этот 
            параметр влияет на производительность, следует задавать для него 
            значение True только на этапе разработки.
        -->
    <compilation debug="true">
    </compilation>
    <!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
    <authentication mode="Windows" />
    <!--
            Раздел <customErrors> служит для настройки действий, 
            выполняемых при возникновении необрабатываемой 
            ошибки во время выполнения запроса. В частности, 
            разработчик может задать html-страницы ошибок 
            для отображения вместо трассировки ошибки в стеке.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages />
  </system.web>
</configuration>