#include <windows.h>

1 VERSIONINFO
FILEVERSION 1,7,6,0
PRODUCTVERSION 1,7,6,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Leo4 / Platerra"
            VALUE "FileDescription", "Leo4 Terminal SQL Client Utility (l4sql)"
            VALUE "FileVersion", "1.7.6.0"
            VALUE "InternalName", "l4sql"
            VALUE "OriginalFilename", "l4sql.exe"
            VALUE "ProductName", "Leo4 IoT Platform Tools"
            VALUE "ProductVersion", "1.7.6"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
