<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<log4net debug="false">
		<appender name="Monitor" type="log4net.Appender.RollingFileAppender">
			<file value="C:\LOG\Gate_GIBDDTechnicalInspectionPays.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="2" />
			<maximumFileSize value="50MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d - %m%n" />
			</layout>
		</appender>
		<logger name="Monitor">
			<level value="INFO" />
			<appender-ref ref="Monitor" />
		</logger>
	</log4net>

  <appSettings>

    <add key="EtranConfig" value="http://buslog/EtranConfig/"  />

    <add key="DBConnName" value="Organizations"/>

    <add key="CyberGate" value="http://bl.corepay.local/GateCyberPlatEX/"/>

    <add key="TSP" value="35"/>

    <!--1	наименование получателя
    2	ИНН получателя (10-12 цифр)
    3	КПП получателя (цифры)
    4	расчетный счет получателя (20 цифр)
    5	БИК банка получателя (9 цифр)
    6	причина платежа
    7	тип НДС: no_FAT - не облагается, FAT18 - НДС 18%, FAT10 - НДС 10%
    8	адрес плательщика, ИНН плательщика-->

    <!--BEN-ОАО ОАО Агенство по ипотечному жилищному кредитованию||BENINN-7729355614||BENKPP-772701001||BENACC-40702810200200142445||BENBANKBIK-044525181||REASON-Аннуитетный платеж по договору №0001-4506 от 19.03.2009г. Морозов Максим Владимирович Закладная в АИЖК №4306500222657 за апрель 2010г||REASON_FAT-no_FAT||PAYER_ADDRESS-Г.МОСКВА УЛ.СУЗДАЛЬСКАЯ Д.8 КОРП.1КВ.14-->

    <!--<add key="CyberGate" value="BEN-{ben}||BENINN-{BENINN}||BENKPP-{BENKPP}||BENACC-{BENACC}||BENBANKBIK-{BENBANKBIK}||REASON-{REASON}||REASON_FAT-{REASON_FAT}||PAYER_ADDRESS-{PAYER_ADDRESS}"/>-->

    <!--<add key="CyberParams" value="ОАО Агенство по ипотечному жилищному кредитованию;7729355614;772701001;40702810200200142445;044525181;{service_name};no_FAT;{address};{FIO}"/>-->

    <add key="CyberParams" value="ООО Проинформ;7717565790;771701001;40702810900250001832;044525219;{service_name};no_FAT;{address};{FIO}"/>

    

  </appSettings>
	<system.web>
		<!-- 
            Значение параметра compilation debug="true" означает, 
            что в компилированную страницу будут вставлены отладочные символы. Так как этот 
            параметр влияет на производительность, 
            следует устанавливать в нем значение True только на этапе разработки.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
		<authentication mode="Windows" />
		<!--
            Раздел <customErrors> позволяет настраивать 
            параметры действий на случай возникновения необработанных ошибок 
            во время выполнения запроса. А именно, 
            он позволяет разработчикам настраивать HTML-страницы 
            с сообщениями об ошибках, которые будут отображаться вместо трассировки стека ошибок. 

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Service.asmx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
